*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

buildSrc/build
ux-common/build
build-logic/convention/build
core/models/build
core/data/build
core/datastore/build
core/di/build
core/network/build
core/navigation/build
core/utils/build
feature/explore/build
common/ux/build
feature/landing/build
feature/di/build
feature/gameslist/build
feature/games/build
feature/library/build
feature/search/build
feature/account/build
feature/expanded/build
feature/details/build
feature/splash/build